<div class="success-page">

    <img src="https://i.dlpng.com/static/png/5432047-download-x-mark-png-png-image-with-no-background-pngkeycom-x-mark-transparent-background-1314_1085_preview.png" alt=" ">
    

    <div class="message-container">
        <p class="message">
            {{message}}
        </p>
    </div>
</div>