<div class="create-account">
    <div class="header">
        <h2>Login</h2>
    </div>

    <form action="/api/user/login" method="POST" class="form" id="form">

        <div class="form-control">
            <label>Email</label>
            <input type="email" placeholder="Email" id="email" name="email">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>

        <div class="form-control">
            <label>Sifre</label>
            <input type="password" placeholder="Sifre" id="password" name="password">
            <i class="fas fa-check-circle"></i>
            <i class="fas fa-exclamation-circle"></i>
            <small>Error message</small>
        </div>

        <button type="submit">Giris yap</button>

    </form>

</div>