<div class="success-page">

    <img src="http://www.pngmart.com/files/3/Green-Tick-Transparent-PNG.png" alt=" ">
    

    <div class="message-container">
        <p class="message">
            {{message}}
        </p>
    </div>
</div>